:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtitle-text: #8e8f99;
  --accent: #e7e9fc;
  --light-mode: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --hero-text: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-web {
  color: var(--primary-brand);
}
.section-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.subtitel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* ----------heder--------- */
.header {
}
.header-logo {
  color: var(--dark);
}
.header-link:hover,
.header-link:focus {
  color: var(--pressed-state);
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.header-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* ----------heder--------- */
/* ----------hero section---------- */
.hero {
  background: var(--hero-background);
}
.hero-titel {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text);
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-text);
  cursor: pointer;
  background: var(--primary-brand);
}
/* ----------hero---------- */
/* ----------about---------- */
.about-titel {
}
.about-list {
}
.about-item {
}
/* ----------about---------- */
/* -----------we doing--------- */

.we-doing-list {
}
.we-doing-item {
}
/* -----------we doing--------- */
/* -----------team---------- */
.team-list {
}
.team-item {
}
.team-subtitle-text {
  text-align: center;
}
/* ---------team----------  */
/* ----------footer---------- */
.footer {
  background: var(--hero-background);
}
.footer-logo {
  color: var(--light-mode);
}
.footer-description {
  color: var(--accent);
}
/* ----------footer---------- */
/* ----------menu---------- */
.menu-list {
}
.menu-item {
}
.menu-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background: var(--light-mode);
  cursor: pointer;
}
/* ----------menu---------- */
